<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dangerous Animal Snapshots</h2>

{% for img in images %}
    <img src="{{ url_for('snapshots', filename=img) }}"
         width="300"
         alt="Dangerous Animal Snapshot"
         style="margin:10px; border:2px solid red;">
{% endfor %}

<button><a href="{{ url_for('index') }}">Back to Home</a></button>
</body>
</html>